{# templates/partials/_sidebar_admin.html.twig #}
<div class="sidebar">
    <div class="logo">
        <img src="{{ asset('template/img/forecastly_logo_64x64.png') }}" width="32px" height="32px" />
        <span>Forecastly</span>
    </div>
    <ul class="menu">
        <li>
            <a href="{{ path('admin_dash') }}"
               class="{% if app.request.attributes.get('_route') == 'admin_dash' %}active{% endif %}">
                <i class="fas fa-home"></i> <span>Dashboard</span>
            </a>
        </li>


        <li>
            <a href="{{ path('admin_doc_index') }}">
                <i class="fas fa-book"></i> <span>Help Center</span>
            </a>
        </li>
    </ul>

    <div class="user-section">
        <div class="user-info">
            <div class="user-avatar">{{ app.user.firstName|first|upper }}{{ app.user.lastName|first|upper }}</div>
            <div class="user-details">
                <div class="user-name">{{ app.user.firstName }} {{ app.user.lastName }}</div>
                <div class="user-role">{{ app.user.roles[0]|capitalize }}</div>
            </div>
        </div>
        <button class="logout-btn"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></button>
        <br/><p style="font-size: smaller;">&copy; 2025 Meridian Wealth Technologies, LLC.</p>
    </div>
</div>