{# templates/customer/savings_account/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Manage Accounts - Forecastly{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('customer_savings_accounts_css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('customer_savings_accounts_js') }}
{% endblock %}

{% block body %}
    <div class="header">
        <div class="page-title">
            <h1>Manage Savings Accounts</h1>
            <p>Add and manage your financial accounts</p>
        </div>
    </div>

    <!-- Flash Messages -->
    <div class="flash-messages">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i> {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-error">
                <i class="fas fa-exclamation-circle"></i> {{ message }}
            </div>
        {% endfor %}
    </div>

    <div class="accounts-container">
        <!-- Add/Edit Savings Account Form -->
        {% include 'customer/savings_account/_form.html.twig' with {
            'form': form
        } %}

        <!-- Savings Accounts List -->
        {% include 'customer/savings_account/_list.html.twig' with {
            'accounts': accounts
        } %}
    </div>
{% endblock %}
