{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Forecastly - Your personal financial forecasting and wealth management application">
    <meta name="keywords" content="finance, budgeting, wealth management, forecasting, money">
    <meta name="author" content="Meridian Wealth Technologies, LLC. All rights reserved.">

    {# Favicon #}
    <link rel="icon" type="image/x-icon" href="{{ asset('template/img/favicon.ico') }}">
    <link rel="apple-touch-icon" href="{{ asset('template/img/apple-touch-icon.png') }}">

    {# Open Graph meta tags for social media sharing #}
    <meta property="og:title" content="Forecastly - Financial Forecasting App">
    <meta property="og:description" content="Your personal financial forecasting and wealth management application">
    <meta property="og:type" content="website">

    {# Twitter Card meta tags #}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Forecastly - Financial Forecasting App">
    <meta name="twitter:description" content="Your personal financial forecasting and wealth management application">

    <title>{% block title %}Welcome to Forecastly!{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token('authenticate') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('appCss') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('appJs') }}
    {% endblock %}
</head>
<body>
{% block sidebar %}
    {% include 'partials/_sidebar.html.twig' %}
{% endblock %}
<div class="main-content">
    {% block body %}{% endblock %}
</div>
</body>
</html>